---
import "../style/global.css";
import "../style/tailwind.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Stefano Tambellini" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://stefanotambellini.it" />
    <meta
      property="og:image"
      content="https://stefanotambellini.it/og_image.jpg"
    />
    <meta property="og:description" content="Glad for now, grateful for ever" />

    <meta name="twitter:card" content="summary" />

    <meta name="msapplication-TileColor" content="#da532c" /><meta
      name="theme-color"
      content="#ffffff"
    />

    <title>Stefano Tambellini</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#da532c" />
    <link rel="manifest" href="/site.webmanifest" />

    <link
      rel="preload"
      href="/fonts/Nintendoid1.ttf"
      as="font"
      crossorigin=""
    />
  </head>

  <body class="bg-gray-100 dark:bg-gray-900">
    <slot />
  </body>
</html>
