---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import PageTitle from "../components/react/PageTitle";

import "../style/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <PageTitle>
      <a href="/projects">asdf</a>
    </PageTitle>
  </body>
</html>
