---
import "../style/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import WebGl from "../components/WebGl.astro";

import PageTitle from "../components/react/PageTitle";
import { SocialLinks } from "../components/react/SocialLinks";
---

<BaseLayout>
  <div
    class="relative p-4 pt-36 sm:p-12 md:p-16 lg:p-24 break-words overflow-hidden"
  >
    <div>
      <WebGl />

      <div
        class="relative z-30"
        style={{
          minHeight: "min-content",
        }}
      >
        <div
          class="antialiased"
          style={{
            textShadow: "0 2px 4px rgba(255,255,255,0.10)",
          }}
        >
          <div class="md:max-w-4xl">
            <PageTitle>
              <span>Stefano<br />Tambellini</span>
            </PageTitle>

            <br />

            <div
              class="text-xs xs:text-base sm:text-xl md:text-2xl leading-tight sm:leading-snug tracking-tight whitespace-pre-line"
            >
              <p>messages.presentazione[locale]</p>

              <br />

              <p>
                <span> messages.contattamiA[locale]</span>

                <br />
                <br />

                <SocialLinks />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
